@charset "UTF-8";
body{
	color: #c7b39b;
	background: #333;
}

.cinemaHall {
	 margin-left: 0%;
	 margin-top: 50px;
}

H1{
	text-align: center;
     margin-top: 180px;
}
	 
#imp{
	text-align: center;
     margin-top: 80px;
}
#BR{
	color: #333;
	background-color: #c7b39b;
}

.result {
  margin-left: 31%;
  margin-top: 80px;
}
