@charset "UTF-8";

body{
	color: #c7b39b;
	background: #333;
}

#log{
	color:#333;
	background-color: #c7b39b;
/*	margin-left: 95%;*/
	position: relative;
    left: 50%;
    transform: translate(-50%, 0); 
    font-size: 40px;
     margin-top: 150px;
}

#but{
	color:#333;
	background-color: #c7b39b;
/*	margin-left: 95%;*/
	position: relative;
    left: 50%;
    transform: translate(-50%, 0); 
    font-size: 40px;
     margin-top: 150px;
}
